<form>
    <mat-form-field class="filter-input">
        <mat-label>Filter</mat-label>
        <input [disabled]=" isEditMode$| async"
               type="text"
               matInput
               placeholder="Filter (e.g., 'Id: 1')"
               id="fieldFilter"
               name="fieldFilter"
               #fieldFilter
               (input)="applyFilter(fieldFilter.value)">
    </mat-form-field>
</form>
<div class="action-buttons">
    <button mat-raised-button color="primary" (click)="onAddClick() " [disabled]=" isEditMode$| async">Add</button>
    <button mat-raised-button color="warn" (click)="onRemoveClick()" [disabled]=" isEditMode$| async">Remove</button>
</div>

