<mat-card>
    <mat-card-header>
        <h2>Trainee Details</h2>
    </mat-card-header>
    <mat-card-content>

        <div class="details-fields">
            <h4>ID</h4>
            <p>{{ trainee?.id }}</p>
        </div>
        <div class="details-fields">
            <h4>Name</h4>
            <p>{{ trainee?.name }}</p>
        </div>
        <div class="details-fields">
            <h4>Date</h4>
            <p>{{ trainee?.date }}</p>
        </div>
        <div class="details-fields">
            <h4>Grade</h4>
            <p>{{ trainee?.grade }}</p>
        </div>
        <div class="details-fields">
            <h4>Subject</h4>
            <p>{{ trainee?.subject }}</p>
        </div>
        <div class="details-fields">
            <h4>Email</h4>
            <p>{{ trainee?.email }}</p>
        </div>
        <div class="details-fields">
            <h4>Address</h4>
            <p>{{ trainee?.address }}</p>
        </div>
        <div class="details-fields">
            <h4>City</h4>
            <p>{{ trainee?.city }}</p>
        </div>
        <div class="details-fields">
            <h4>Country</h4>
            <p>{{ trainee?.country }}</p>
        </div>
        <div class="details-fields">
            <h4>Zip</h4>
            <p>{{ trainee?.zip }}</p>
        </div>
    </mat-card-content>
</mat-card>
