.table-body-scroll {
  max-height: calc(100vh - 25em);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(83, 83, 83, 0.37);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkcyan;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #00c5c5;
  }
}


.trainee-row {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.trainee-row:hover {
  background-color: gray;
}
.selected {
  background-color: darkcyan;
}

.selected:hover {
  background-color: mix(gray, darkcyan, 70%);
}

.no-results-content {
  background-color: #424242;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
}

.no-results-content img {
  max-width: 50%;
  height: auto;
  margin-bottom: 16px;
}

mat-paginator {
  background-color: darkcyan; /* Blue-gray background */
  //color: #424242; /* Pink text color */
  font-weight: 500;
  font-size: small;
}
