<ng-container *ngIf="trainees$ | async as trainees">
    <table mat-table [dataSource]="trainees" class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID</th>
            <td mat-cell *matCellDef="let row"> {{ row.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let row"> {{ row.name }}</td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date</th>
            <td mat-cell *matCellDef="let row"> {{ row.date }}</td>
        </ng-container>

        <!-- Grade Column -->
        <ng-container matColumnDef="grade">
            <th mat-header-cell *matHeaderCellDef> Grade</th>
            <td mat-cell *matCellDef="let row"> {{ row.grade }}</td>
        </ng-container>

        <!-- Subject Column -->
        <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef> Subject</th>
            <td mat-cell *matCellDef="let row"> {{ row.subject }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="trainee-row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)"
            [class.selected]="row === selectedTrainee"></tr>
    </table>
</ng-container>
