:host {
  padding: 1rem;
}

.content {
  display: flex;
  justify-content: space-between;
}

.table-section {
  flex: 1 0 0;
  margin-right: 2rem;
}

app-trainee-details {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}
